.rolesList-3uZoaa .roleCircle-1EgnFN {
  flex-shrink: 0;
}
.roleCircle-1EgnFN {
    display: none;
}
.role__631a3 {
  position: relative;
  overflow: hidden;
  background: transparent;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  border: solid;
  border-width: 0px 0px 0px 2px;
}
.role__631a3:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  border-width: 12px;
  border-style: solid;
  border-color: inherit;
  box-sizing: border-box;
  pointer-events: none;
  opacity: .3;
  transition: .5s ease;
}
.role__631a3 .roleName_d19d33 {
  padding-left: 4px;
}
.role__631a3:hover:before {
  opacity: .7;
  filter: saturate(1.2);
}
